.scrollview {
	width: 100%;
	position: absolute;
	top: 0px;
}
.scrollview-container {
	position: relative;
}
.scrollview-item {
	color: #fff;
	text-shadow: 1px 1px 1px #555;
	hgroup {
		padding-top: 120px;
		padding-left: 80px;
	}
	h1 {
		font-weight: bold;
		font-size: 50px;
	}
	p  {
		font-size: 25px;
		margin-top: 20px;
	}
	&.movie {
		
		margin-left: 20px;
		padding-right: 220px;
		iframe {
			margin-top: 50px;
			width: 95%;
			height: 80%;
		}
	}
}